/*-----------------------------------------------------------------------------
	Interface
-----------------------------------------------------------------------------*/

@media (max-width: 766px) {
	body#extension-dashboard-index #context .actions {
		display: none;
	}
}

body#extension-dashboard-index .columns.two .column.secondary {
	border: none;
}

#dashboard.columns {
	-webkit-align-items: flex-start;
	align-items: flex-start;
}

#context .actions select {
	margin: 0 1.5rem;
	width: 25rem;
}

/*-----------------------------------------------------------------------------
	Drawer
-----------------------------------------------------------------------------*/

#drawer-dashboard.drawer {
	box-sizing: border-box;
	overflow: auto;
	position: absolute;
	right: 0;
	top: 100%;
	padding: 3rem;
	border: 1px solid #d3dce2;
	background: #fff;
	width: 100%;
	height: calc(100vh - 6rem);
	z-index: 60;
}

#drawer-dashboard.drawer .contents {
	margin: 0 auto;
	padding: 0;
	max-width: 128rem;
}

/*---------------------------------------
	Save Panel
---------------------------------------*/

#save-panel {
	position: relative;
	overflow: hidden;
	clear: both;
}

#save-panel h3 {
	font-size: 1.6rem;
	color: #3B3D40;
	font-weight: 300;
	text-shadow: none;
	font-weight: normal;
	padding: 0 0 3rem;
	position: relative;
}

#save-panel h3 span {
	color: #2f77eb;
}

#save-panel fieldset {
	overflow: hidden;
	margin-right: 0;
	margin-left: 0;
}

#save-panel fieldset label + label {
	margin-top: 3rem;
}

#save-panel legend {
	text-shadow: none;
}

#save-panel a {
	color: currentColor;
	line-height: 1.8em;
	border-color: currentColor;
}

#save-panel a:hover {
	border-color: transparent;
}

#save-panel .actions {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	overflow: hidden;
	position: static;
	margin: 0;
	padding: 0;
	border: none;
	width: 100%;
}

#save-panel .actions input,
#save-panel .actions button {
	font-size: 1.1rem;
	font-weight: 300;
	text-transform: uppercase;
	margin: 0;
	padding: 1rem 1.5rem;
	border: none;
	background: #2f77eb;
	border-radius: 5px;
	cursor: pointer;
}

#save-panel .actions input:hover,
#save-panel .actions button:hover {
	background: #3B3D40;
}

#save-panel .actions input[type="submit"] {
	float: right;
}

#save-panel .actions button.delete {
	margin-left: 0;
	background: #ee494e;
}

#save-panel .actions input + *,
#save-panel .actions button + * {
	margin-left: 1rem!important;
}

/*-----------------------------------------------------------------------------
	Panels
-----------------------------------------------------------------------------*/

#dashboard .sortable-container {
	padding-top: 0;
}

#dashboard .sortable-container {
	border-radus: 5px;
	padding: 0 0 0 3rem;
	min-height: 1px;
}

#dashboard .sortable-container.secondary {
	padding-left: 6rem;
}

@media (max-width: 1278px){
	#dashboard .sortable-container.secondary {
		margin-top: 3rem; padding-left: 0;
	}
}

.panel {
	border-radius: 5px;
	box-shadow: 0 0 0 rgba(0,0,0,0);
	position: relative;
	border: 1px solid #d3dce2;
	background: #fff;
}

.panel + .panel {
	margin-top: 3rem;
}

.panel.ui-sortable-helper h3 {
	color: #fff;
	background-color: #2f77eb;
}

.panel.ui-sortable-helper h3 span,
.panel.ui-sortable-helper a.panel-edit {
	color: #fff;
	opacity: 0.3;
}

.panel-inner {
	overflow: hidden;
	color: #3B3D40;
	font-size: 1.2rem;
	font-weight: 300;
	padding: 3rem;
}

.new-panel {
	display: none;
}

.panel-placeholder {
	box-sizing: border-box;
	border-radius: 5px;
	margin: 0 0 3rem 0;
	border: 1px dashed #d3dce2;
	background: #f4f8fb;
}

.panel h3 {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: #3B3D40;
	font-size: 1.1rem;
	font-weight: 300;
	text-transform: uppercase;
	padding: 1.5rem 3rem;
	border-bottom: 1px solid #d3dce2;
}

.panel h3 span {
	display: none;
	color: #757c84;
	font-size: 90%;
	padding-left: 0.5rem;
}

.panel h3 span:before {
	content: " - ";
}

.panel p.invalid {
	color: #999;
}

#dashboard.edit .panel h3 {
	cursor: move;
}

.panel a.panel-edit {
	display: none;
	position: absolute;
	top: 0.7rem;
	right: 1.5rem;
	color: #B7C2CC;
	font-size: 1.2rem;
	font-weight: 300;
	text-decoration: none;
	z-index: 1;
}

.panel a.panel-edit:hover {
	color: #3B3D40;
}

#dashboard.edit .panel a.panel-edit {
	display: block;
}

#dashboard.edit .panel h3 span {
	display: inline;
}

.panel a.panel-edit:hover {
	color: #666;
}

div.create {
	margin-left: 5px;
}

select.hide {
	position: absolute;
	top: -9999em;
	left: -9999em;
}

/*---------------------------------------
	PANEL: RSS Feed Reader
---------------------------------------*/

.rss_reader h5 {
	font-size: 1.4rem;
	font-weight: 300;
	line-height: 1.8em;
	padding-bottom: 1rem;
}

.rss_reader * + h5 {
	margin-top: 3rem;
	padding-top: 3rem;
	border-top: 1px solid #d3dce2;
}

.rss_reader a {
	color: #2f77eb;
}

.rss_reader a:hover {
	color: currentColor;
}

.rss_reader p {
	margin: 0;
}

.rss_reader p img {
	padding: 0.5rem 0;
	width: 100%;
	height: auto;
}

.rss_reader p.date {
	color: #aaa;
	margin: -1px 0 0 0;
}

.rss_reader ul {
	margin: 0 0 0 15px;
	list-style-type: disc;
}

.rss_reader ul span.date {
	color: #aaa;
	margin: 0 0 0 5px;
}

/*---------------------------------------
	PANEL: Datasource To Table
---------------------------------------*/

.datasource_to_table .panel-inner {
	padding: 0;
}

.datasource_to_table table {
	border: none;
}

/*---------------------------------------
	PANEL: HTML Block
---------------------------------------*/

.html_block .html-container {
	overflow: hidden;
	position: relative;
	width: 100%;
}

/*---------------------------------------
	PANEL: Symphony Overview
---------------------------------------*/

#dashboard .panel h4 {
	color: #2f77eb;
	font-size: 1.4rem;
	font-weight: 300;
	padding-bottom: 1rem;
}

#dashboard .panel * + h4 {
	padding-top: 3rem;
}

#dashboard .panel dl {
	overflow: hidden;
}

#dashboard .panel dt {
	float: left;
	clear: left;
	width: 25%;
	margin-right: 5%;
	font-weight: 400;
}

#dashboard .panel dd {
	float: left;
	width: 70%;
}

#dashboard .secondary .panel dt {
	width: 45%;
}

#dashboard .secondary .panel dd {
	width: 50%;
}

#dashboard .panel ul {
	list-style-type: disc;
}

#dashboard .panel ol {
	list-style-type: decimal;
}

.panel.markdown_text p,
.panel.markdown_text ul,
.panel.markdown_text ol {
	margin-bottom: 0.75em;
}
